/* freetype2_60.css */

@import "../freetype2.css";

.bar {
    background: #cecc3b url("../../image/Lang_logo/rust_tight.png") no-repeat right top;
    background-size: 10%;
}

#top a {
    border-bottom: 2px solid #cecc3b;
}

.hljs {
    white-space: pre;
    overflow-x: auto;
    background-color: #343434;
    color: aliceblue;
}